<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381677352187-fqa67a6e0gvi0oihmhgrrrnbvg97ptjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381677352187-fqa67a6e0gvi0oihmhgrrrnbvg97ptjl</string>
	<key>API_KEY</key>
	<string>AIzaSyA-sIPZAyX9akwdXk--Rq9bNkL03vmiUfY</string>
	<key>GCM_SENDER_ID</key>
	<string>381677352187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lrChallenge</string>
	<key>PROJECT_ID</key>
	<string>renest-a2fdb</string>
	<key>STORAGE_BUCKET</key>
	<string>renest-a2fdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381677352187:ios:8a16abddd95cfbb2f6ac5e</string>
</dict>
</plist>